<!DOCTYPE html>

<title>Disponibilite</title>

{% block body %}
    <h1>Disponibilite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibilite.id }}</td>
            </tr>
            <tr>
                <th>Datedeb</th>
                <td>{{ disponibilite.datedeb }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ disponibilite.datefin }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ disponibilite.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_disponibilite_index') }}">back to list</a>

    <a href="{{ path('user_controllers/user_disponibilite_edit', {'id': disponibilite.id}) }}">edit</a>

    {{ include('user_controllers/disponibilite/_delete_form.html.twig') }}
{% endblock %}
