
{% block body %}

    <img style="margin-bottom: 5px;" class="navbar-brand space-brand"
         src="{{ logo }}"
         width="95px" height="55"/></a>
</br>
    <hr>

    <h1 align="center"> {{ ressource.title|upper  }}  </h1>
    <hr>

    <table class="table">
        <br>

        <tr>
            <th></th>
            <td></td>
        </tr></br>
        <tr>
            <th>
                    Description</th>
            <td>    {{ ressource.description }}</br></td>
        </tr>
        <tr>
            <th></th>
            <td></br></td>
        </tr>
        <tr>
            <th>Module</th>
            <td>    {{ ressource.module }}</br></td>
        </tr>
        <tr>
            <th></th>
            <td></br></td>
        </tr>
        <tr>
            <th>Image </th>
            <td>    </br></td>
        </tr>
        <tr>

            <th></th>
            <td>

                <img src="{{ ressource.path }}" /></td>            </tr>

        </tbody>
    </table>

 <hr>

    <h3 align="center">Copyright: Simpalha by SPIR'IT.</h3>
    <hr>

{% endblock %}
