{% extends 'baseUserQuiz.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="search-bar-container">
        <form>
            <div class="search-bar">
                <input class="form-control" name="q" type="search" value="{{ app.request.query.get('q') }}" placeholder="Search" aria-label="Search">
                <button class="btn btn-success search-quiz-input-button" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="quiz-list-container">
        <div class="quiz-div-container">

            <div class="quiz-div">
                <h4 class="quiz-div-subject">Quiz List ({{ pagination.getTotalItemCount }})</h4>
            </div>

            {% for quiz in pagination %}

                <div class="quiz-div">
                    <h4 class="quiz-div-subject">{{ quiz.subject }}</h4>
                    <p class="quiz-div-title">{{ quiz.title }}</p>
                    <div class="quiz-div-btn-container">
                        <a href="{{ path('question_list', {id: quiz.id}) }}" class="btn btn-success quiz-management-btn">Manage Questions</a>
                        <a href="{{ path('quiz_edit', {id: quiz.id}) }}" class="btn btn-primary quiz-management-btn">Update</a>
                        <a href="{{ path('quiz_delete', {id: quiz.id}) }}" class="btn btn-danger quiz-management-btn">Delete</a>
                    </div>
                    <div class="icon-progression-container">
                        <a href="{{ path('quiz_progression', {id: quiz.id}) }}" class="btn btn-dark quiz-management-btn"><i class="fa fa-line-chart" aria-hidden="true"></i></a>

                    </div>
                </div>

            {% else %}
                <div class="quiz-div">
                    <h4 class="quiz-div-subject">No tests found..</h4>
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination) }}

        <div class="quiz-div-footer">
            <a href="{{ path('quiz_create') }}" class="btn btn-primary quiz-div-footer-btn">Add Quiz</a>
            <a href="{{ path('quiz') }}" class="btn btn-danger quiz-div-footer-btn">Back</a>
        </div>
    </div>


{% endblock %}
