{% extends 'baseUser.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz/styles.css') }}">
{% endblock %}

{% block body %}


    <div class="create-quiz-form-container">
        {{ form_start(quizzForm) }}
        {{ form_widget(quizzForm) }}

        <button type="submit" class="btn btn-primary">Create!</button>
        {{ form_end(quizzForm) }}
    </div>


{% endblock %}
