{% extends 'baseUserQuiz.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="quiz-list-container">
        <div class="quiz-div-container">

            <div class="quiz-div">
                <h4 class="quiz-div-subject">{{ quiz.title}} ({{ pagination.getTotalItemCount }} Marks)</h4>
            </div>

            {% for quizResult in pagination %}

                <div class="quiz-div">
                    <h4 class="quiz-div-subject">{{ quizResult.result }}</h4>
                    <p class="quiz-div-title">{{ quizResult.resultDate|date("m/d/Y") }}</p>
                </div>

            {% endfor %}

            <div class="quiz-div">
                <h4 class="quiz-div-subject">Actual Average : {{ average }}</h4>
                <h4 class="quiz-div-subject compare-average"></h4>

                <a href="{{ path('quiz_progression', {id: quiz.id}) }}" class="btn btn-success quiz-management-btn js-compare-average">Compare with average of date: </a>
                <div class="form-group">
                    <input class="form-control mt-2" type="datetime-local" value="2021-04-22T10:00" name="datetime-input" id="datetime-input">
                </div>

            </div>

        </div>

        {{ knp_pagination_render(pagination) }}

        <div class="quiz-div-footer">
            <a href="{{ path('quiz_create') }}" class="btn btn-primary quiz-div-footer-btn">Add Quiz</a>
            <a href="{{ path('quiz_list') }}" class="btn btn-danger quiz-div-footer-btn">Back</a>
        </div>
    </div>


{% endblock %}
