<!DOCTYPE html>

<title>Feedback index</title>

{% block body %}
    <h1>Feedback index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Timestamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.description }}</td>
                <td>{{ feedback.timestamp ? feedback.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_controllers_feedback_show', {'id': feedback.id}) }}">show</a>
                    <a href="{{ path('user_controllers_feedback_edit', {'id': feedback.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_feedback_new') }}">Create new</a>
{% endblock %}
