<!DOCTYPE html>

<title>Feedback</title>

{% block body %}
    <h1>Feedback</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feedback.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feedback.description }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ feedback.timestamp ? feedback.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_controllers_feedback_index') }}">back to list</a>

    <a href="{{ path('user_controllers_feedback_edit', {'id': feedback.id}) }}">edit</a>

    {{ include('user_controllers_feedback/_delete_form.html.twig') }}
{% endblock %}
