{% extends 'baseUser.html.twig' %}

{% block title %}
    <title>HomePage</title>
{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Module</th>
                <th>Problem</th>
                <th>ImageName</th>
                <th> </th>

            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.timestamp ? post.timestamp|ago : ''  }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.module }}</td>
                <td>{{ post.problem }}</td>
                <td>{{ post.imageName }}</td>
                <td>
                    {#  <a href="{{ path('user_controllers_post_show', {'id': post.id}) }}">show</a> #}
                    <a href="{{ path('user_controllers_post_edit', {'id': post.id}) }}"><span class="fa fa-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_controllers_post_new') }}">Create new</a>
{% endblock %}
