{% extends 'baseUser.html.twig' %}


{% block body %}
    <h1>Comment index</h1>

<div class="article-container my-1">
    <a href="{{ path('user_controllers_post_show', {id: post.id}) }}">
        {#  <img class="article-img" src="{{ asset(post.imageName) }}"> #}
        <div class="article-title d-inline-block pl-3 align-middle">
            <span>{{ post.module }}</span>
            {# <small>({{ post.comments|length }} comments)</small> // later will be added to determine comments' counter for each post #}
            <small><a>( )</a></small>
            <br>

            <small>
                <span class="badge badge-light">{{ post.module }}</span>
            </small>

            <br>
            <span class="pl-5 article-details float-right"> {{ post.timestamp ? post.timestamp|ago }}</span>
        </div>

        <div class="article-container my-1">
            <span>{{ post.problem }}</span>
            <img src="{{ post.getImageName }}">
        </div>

        <br>

        <div>
            {{ include('user_controllers/comment/new.html.twig') }}

        </div>

        <div>


            <small>({{ post.comments|length }} comments)</small>
            {% for comment in comments %}
                <div class="article-container my-1">
                    <a href="{{ path('user_controllers_comment_show', {id: comment.id}) }}">
{#                         <img class="article-img" src="{{ asset(post.imageName) }}">#}
                        <div class="article-title d-inline-block pl-3 align-middle">
{#                            <span>{{ comment.owner.id }}</span>#}


                    <br>

                    <small>
                        <span class="pl-2 article-details">
                    <span class="js-like-article-count">{{ comment.upvotes }}</span>
                    <a href="{{ path('comment_upvote', {id : comment.id}) }}" class="fa fa-heart-o like-article js-like-article"></a>
                </span>
                    </small>

                    <br>
                    <span>{{ comment.solution }}</span>
                    <span class="pl-5 article-details float-right"> {{ comment.timestamp ? comment.timestamp|ago }}</span>
                    </div>
                    </a>
                </div>
            {% endfor %}


        </div>




{#    <a href="{{ path('user_controllers_comment_new') }}">Create new</a>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}