{% extends 'baseAdminQuiz.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="answer-list-container">
        <div class="div-pusher">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <h1>{{ question.question }}</h1>

        <div class="quiz-list-container">
            <div class="quiz-div-container">

                {% for answer in answers %}

                    <div class="quiz-div">
                        <h4 class="quiz-div-subject {% if answer.id == question.rightAnswer %}font-weight-bold text-success{% endif %}" >{{ answer.suggestion }}</h4>
                        <div class="answer-div-btn-container">
                            <a href="{{ path('admin_answer_delete', {id: quizzId,qId: questionId,aId: answer.id}) }}" class="btn btn-danger quiz-management-btn">Delete</a>
                        </div>
                    </div>


                {% endfor %}
            </div>
            <div class="quiz-div-footer">
                <a href="{{ path('admin_question_list',{id: quizzId}) }}" class="btn btn-danger quiz-div-footer-btn">Back</a>
            </div>
        </div>
    </div>


{% endblock %}
