<!DOCTYPE html>

<title>Users index</title>

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Username</th>
                <th>Specialite</th>
                <th>Code</th>
                <th>About</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.specialite }}</td>
                <td>{{ user.code }}</td>
                <td>{{ user.about }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('user_controllers_users_controllers_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_controllers_users_controllers_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_controllers_users_controllers_new') }}">Create new</a>
{% endblock %}
