<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome to Simpalha{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="icon" href="{{ asset("images/logo.png") }}" type="image/png">
    {% endblock %}
</head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}">
        <img style="margin-bottom: 5px;" class="navbar-brand space-brand" src="{{ asset('images/Simpalha.png') }}" width="95px" height="55"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if is_granted('ROLE_USER') %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">P2P</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Quizz</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Complaint</a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown" style="margin-right: 75px;">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(100) }}">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Profile</a>
                                {% if is_granted('ROLE_ADMIN_ARTICLE') %}
                                    <a class="dropdown-item" href="#">Create Post</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link" href="#">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </nav>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}


    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">Made with <i class="fa fa-heart" style="color: red;"></i> by the guys and gals at <a href="https://www.facebook.com/simpalha" target="_blank">Spir'IT</a></span>
        </div>
    </footer>
    </body>
</html>
